@import "tailwindcss";

@theme {
  --color-indigo-50: #f5f3ff;
  --color-indigo-100: #e0e7ff;
  --color-indigo-400: #818cf8;
  --color-indigo-500: #6366f1;
  --color-indigo-600: #4f46e5;
  --color-indigo-700: #4338ca;
  --color-indigo-900: #1e1b4b;
  
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-900: #0f172a;

  --color-violet-400: #a78bfa;
  --color-violet-500: #8b5cf6;
  --color-violet-700: #6d28d9;
}
